.pageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginContainer {
  flex-direction: column;
  padding: 10px;
  width: 25%;
}

.inputGroup {
  margin-bottom: 8px;
}