.App {
  text-align: center;
}

.UserForm {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  flex-direction: column
}

.UserOptions {
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.flex {
  display: flex;
  margin: 10px;
}
